<div class="p-2">
    <h2 >Gallery {{customTitle}}</h2>

    <div class=" d-flex flex-wrap">
        <div class="mb-2 mr-sm-0 mr-lg-2 mr-xl-2" *ngFor="let photo of data | async | slice:0:limit; let i=index;">
            <mat-card >
                <mat-card-header>
                  <mat-card-title >{{photo.title.substring(0, 20) + "..." | titlecase}}</mat-card-title>
                  <mat-card-subtitle>Id: {{photo.id}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{photo.thumbnailUrl}}" alt="Photo thumbnail">
                <mat-card-content>
                  <p>
                      
                  Image url: <a href="{{photo.url}}">{{photo.url}}</a> 
                  </p>
                </mat-card-content>
               
              </mat-card> 
        </div>
       
    </div>
</div>

