<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
   <app-router-links></app-router-links>
  </mat-sidenav>
  <mat-sidenav-content colour-by-route  >
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Gallery app</span>
      <div  class="d-flex desctop-only w-100 justify-content-lg-end justify-content-xl-end">
        <app-router-links class="flex-links"></app-router-links>
      </div>
    
    </mat-toolbar>
    <div   style="overflow: hidden;" class="d-flex">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>
